<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".KothaBartaApp"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="Kotha-Barta"
        android:usesCleartextTraffic="${usesCleartextTraffic}"
        android:theme="@style/Theme.KothaBarta.Splash">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KothaBarta.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
